name: Build
on:
  push:
    tags:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release
      - uses: actions/upload-artifact@master
        with:
          name: bin
          path: target/release/somewords
          retention-days: 1
  docker:
    needs:
      - build
    runs-on: ghcr.io/rendaw/dinker:latest
    steps:
      - uses: actions/download-artifact@master
        with:
          name: bin
          path: somewords
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          for tag in "latest" "$GITHUB_REF_NAME"; do /dinker <(cat << ELEPHANT
          {
            "dest": "docker://ghcr.io/andrewbaxter/somewords:$tag",
            "dest_user": "$GITHUB_ACTOR",
            "dest_password": "$GITHUB_TOKEN",
            "arch": "amd64",
            "os": "linux",
            "files": [
              {
                "source": "somewords",
                "mode": "755"
              }
            ]
          }
          ELEPHANT
          ); done
